#container nav {
    max-width:100%;
    max-height: 30px;
    margin: auto;
    padding: 1.6rem 8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(146, 133, 133)
}

#container nav:hover {
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
}

.menu a:hover {
    color: #000000;
    transform: scale(1.05);
    transition: .2s;
}

.menu {
    display: flex;
    gap: 5rem;
    width: 100vw;
    height: 70px;
    color: #FFFFFF;
    margin-top: 50px;
    text-transform: uppercase;
}

.menu li {
    font-family: "cinzel", sans-serif;
    font-weight: 700;
}



.github {
    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;

    font-family: "cinzel", sans-serif;
    font-weight: 700;
}

.github img {
    width: 3rem;
    max-height: 3rem;
}

.reference-content {
    position: absolute;
    top: 60px;
    right: 200px;
    width: min-content;
    background-color: #fff;
    display: none;
    padding: 10px;
    border: #000000;
    border-style: solid;
    border-radius: 10px;
}

.reference-content a {
    word-wrap: break-word;
    font-size: small;
    color: #0c124b;
}

.reference-content a:hover {
    color: crimson;
}

.reference button {
    background-color: rgb(146, 133, 133);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    height: 22px;
    width: 160px;
}



  .reference #button-reference > span {
    color: #fff;
    font-family: "cinzel", sans-serif;
    font-weight: 700;
    font-size: 17px;
}   

.reference #button-reference > span:hover {
    color: #000;
    transform: scale(1.05);
    transition: .2s;
}

.reference i {
    color: #c8ff00;
}

.rotate {
    padding-top: 5px;
    transform: rotate(-90deg);
}

@media screen and (max-width: 500px) {
    .navegacao {
        color: #000;
        display: none;
     }
 }