 body {
    background-image: url(../img/img-header-georgeBoole.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;  
}  



.hero-section {
    width: 80vw;
    margin: 0 auto;
    padding: 40px 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    word-wrap: break-word;
}

.hero-content .content-title h2 {
    margin-left: 13px;
    margin-right: 13px;
    line-height: 1;
    position: relative;
    margin: -313px 20px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 5.6rem;
}

.hero-content .content-title p {
    margin-left: 13px;
    margin-right: 13px;
    line-height: 1;
    position: relative;
    margin: 40px 68px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.box-content-title {
    max-width: 991px;
    width: 240px;
    margin-left: 51px;
    border-color: #ffa34d;
    border-width: 15px;
    border-style: solid;
    position: relative;
    box-sizing: border-box;
    height: 386px;
    margin-top: -28px;
    margin-right: auto;
    margin-bottom: initial;
}


.hero-content #text-content {
    margin: 50px 0px 20px 0px;
    padding: 20px 20px;
    font-family: "Cinzel", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    word-wrap: break-word;
    box-sizing: border-box;
    line-height: 1.6rem;
    text-align: justify;
    line-height: 1.6;
}

.george-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;

    padding: 10px 40px;
    box-sizing: border-box;
    gap: 8rem;

}

.george-main-content .img-george-content {
    position: relative;
    box-sizing: border-box;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.george-main-content img {
    width: 100%;
    width: 400px;
    height: auto;
    border-radius: 0.7rem;
    max-height: 460px;
}

.img-george-content img:nth-child(1) {
    align-self: flex-start;
    width: 400px;
}



.img-george-content::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 320px;
    background-color: #5ad32a;
    margin-top: 215px;
    display: flex;
    flex-direction: row-reverse;
}

.img-george-content::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 300px;
    background-color: #5ad32a;
    margin-top: 215px;
    margin-right: 362px;
}

#textSpan1 {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    padding: 5px;
    border-radius: 5px;
    border-color: #5ad32a;
    border-style: solid;
    border-width: 1px;
    text-align: justify;
}

#textSpan2 {
    display: none;
    position: absolute;
    background-color: #3f3f3f;
    padding: 5px;
    border-radius: 5px;
    border-color: #5ad32a;
    border-style: solid;
    border-width: 1px;
    text-align: justify;

}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.img-george-content #img1:hover + #textSpan1 {
    display: block;
    left: 65%;
    top: 20%;
    transform: translateY(-50%); 
    animation: fadeIn 0.7s ease-in-out;
}



.img-george-content #img2:hover + #textSpan2 {
    display: block;
    right: 65%;
    top: 75%;
    transform: translateY(-50%);
    animation: fadeIn 0.7s ease-in-out;
}



.content-card {
    height: 200px;
    overflow-y: scroll;
    /* overflow: hidden; */
    position: relative;
    padding: 20px;
}

.content-card h3 {
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Cinzel', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #e0e0e0;
}

.content-card h3::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 293px;
    background-color: #5ad32a;
    margin-top: 24px;
    border-radius: 100px;
}

.content-card p {
    color: #e0e0e0;
}

#read-more {
    border: none;
    padding: 5px;
    margin: 10px 20px 10px 20px;
    font-family: 'Cinzel', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#read-more:hover {
    background-color: #5ad32a;
    cursor: url(../img/mouse-Icon.svg), auto;
    transform: scale(1.07);
    transition: a;
}



.george-cardBox {
    display: flex;
    flex-direction: column;
    width: 360px;
    max-height: 500px;
    /* height: min-content; */
    border-style: solid;
    border-color: rgb(147, 241, 23);
    border-width: 1px;
    background-color: #3f3f3f;
    text-align: justify;
    color: #000;
}

.content-card::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.content-card::-webkit-scrollbar-thumb {
    background-color: #ffa34d;
    border-radius: 6px;
}

.george-cardBox.active .content-card {
    height: auto;
}

.george-cardBox.active::before {
    visibility: hidden;
}

.gallery-image{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.gallery-image #image {
    width: 800px;
    height: 400px;
    transition: transform 0.3s ease; 
}

.buttons-gallery{
    display: flex; /* Torna o container um flexbox */
    align-items: center;
    justify-content: space-between;
    height: 50rem;
    width: 70rem;
    margin: 0 auto;
    align-items: center; 
}


#left-button {
    position: relative;
    top: -250px;
    left: -550px;
    color: #1eff00;
    background-color: #000;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

#right-button {
    position: relative;
    top: -310px;
    right: -550px;
    color: #1eff00;
    background-color: #000;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

#image-description {
    margin-top: 10px;
    font-size: 20px;
    background-color: #3f3f3f;
}



footer {
    padding-top: 4px;
    background-color: #3f3f3f;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: "Caveat", sans-serif;
    font-weight: 700
}